body{
	font-family:Microsoft Yahei;
}
li{
	list-style-type: none;
}

li.red{
  background-color: #e86443;
}
li.green{
  background-color: #56bc8a;
}
li.blue{
  background-color: #529ecc; 
}
li.default{
    background-color: #ccc;
}

@font-face {
	font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
@import "iconfont.css";
.topnav{
	position: fixed;
	width: 100%;
	height: 3rem;
	top: 0;
	background-color: #34465c;
	color: #fff;
	box-shadow: 0 3px 10px 0 #b3b3b3;
	z-index: 999;
}
/*****************************功能列表css**************************************/
.cell{
    margin: .4rem 0;
}
.message{
    clear: both;
}
.message .cell-hd{
    float: left;
    color: #999;
}
.message .cell-hd i{
    float: left;
    margin-right: .4rem;
}
.message .cell-bd{
    float: left;
}
.message .cell-bd p.media-title{
     margin: 0;
     color: #333;
     font-weight: bold;
}
.message .cell-bd p.media-desc{
    color: #999;
    font-size:11pt;
    margin: 0;
}
.message .cell-ft{
    float: right;
    color: #999;
    font-weight: bold;
}
/************************内容列表css*****************************/
.message h4{
    margin: 0;
    padding-top: 1rem;
    font-weight: normal;
    color: #999;
}
.message h4 a{
    color: #999;
}
.message h4 span{
    margin-left: 1rem;
}
.message p.media-title{
    margin-bottom: .5rem;
    font-weight: bold;
}
.media-box p.media-info{
    color: #999;
    font-size:15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.media-box p.media-info a{
  margin-left: .5rem;
}
.message ul.media-info{
    text-align: right;
    margin-bottom: 10px;
    color: #999;
}
.message ul.media-info li{
    text-align: right;
    display: inline;
    font-size: 11pt;
}
.message ul.media-info li i{
    font-size:15px;
    margin-left: 1rem;
}
.message ul.media-info li.other i{
    font-size: 21px;
    vertical-align: middle;
}
.message .media-box{
    padding: 0 1rem;
    background-color: #fff;
}
.message .media-box .media-title img{
    vertical-align: middle;
    padding-right: .2rem;
}
.message .media-show img{
    width: 100%;
}
.message .type a{
    color: #999;
}
.message ul.type-info{
    margin: 0;
    padding: 0;
    display: -webkit-box;
}
.message ul.type-info li{
    margin-right: .5rem;
    line-height: 100%;
    font-size: 11pt;
}
.message ul.type-info i{
    float: left;
    width: 20px;
    height: 22px;
    color: #999;
    font-size: 11pt;
}


/*按钮*/
.del{
    height: 45px;
    width: 45px;
    background-color: rgba(116, 126, 140, 0.89);
    text-align: center;
    position: fixed;
    z-index: 999;
    bottom: 5rem;
    left: 1rem;
    border-radius: 50%;
    color: #fff;
}
.back{
    height: 45px;
    width: 45px;
    background-color: rgba(116, 126, 140, 0.89);
    text-align: center;
    position: fixed;
    z-index: 999;
    bottom: 2rem;
    left: 1rem;
    border-radius: 50%;
    color: #fff;
}
.del i,.back i{
    font-size: 18px;
    line-height: 2.2rem;
}


.rank-method{
    text-align: center;
    padding: 1rem;
}